<div class="universe">
  <div class="space space-1"></div>
  <div class="space space-2"></div>
  <div class="space space-3"></div>
</div>

<style>
  .universe {
    background-image: linear-gradient(#051327, #000);
    position: fixed;
    inset: 0;
    z-index: -1;
  }

  .space {
    width: var(--size);
    height: var(--size);
    background: #fff;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    animation: moveStars var(--duration) linear infinite;
  }

  @keyframes moveStars {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100vh);
    }
  }
</style>

<script>
  const COLORS: string[] = ['#fff2', '#fff4', '#fff7', '#fffc']

  const generateSpaceLayer = (
    size: string,
    selector: string,
    totalStars: number,
    duration: string
  ) => {
    const layer = []
    for (let i = 0; i < totalStars; i++) {
      const color = COLORS[Math.floor(Math.random() * COLORS.length)]
      const x = Math.floor(Math.random() * 100)
      const y = Math.floor(Math.random() * 100)
      layer.push(`${x}vw ${y}vh 0 ${color}, ${x}vw ${y + 100}vh 0 ${color}`)
    }

    const container = document.querySelector(selector) as HTMLElement
    container.style.setProperty('--space-layer', layer.join(','))
    container.style.setProperty('--size', size)
    container.style.setProperty('--duration', duration)
  }

  generateSpaceLayer('1px', '.space-1', 200, '25s')
  generateSpaceLayer('2px', '.space-2', 100, '20s')
  generateSpaceLayer('4px', '.space-3', 25, '15s')
</script>
